= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
  .field
    = f.label :nickname, class: 'label'
    .control
      = f.text_field :nickname, autocomplete: "nickname", class: "input"
  .field
    = f.label :locale, class: 'label'
    .control.has-icons-left
      .select
        = f.select :locale, options_for_select(locale_languages, @user.locale), {}, class: "input"
      .icon.is-small.is-left
        %i.fas.fa-language
  %hr.is-divider
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password, class: 'label'
    .control
      %i (leave blank if you don't want to change it)
    = f.password_field :password, autocomplete: "off", class: "input"
    %small#password_help.form-text.text-muted
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
  .field
    = f.label :password_confirmation, class: 'label'
    .control
      = f.password_field :password_confirmation, autocomplete: "off", class: "input"
  .field
    = f.label :current_password, class: 'label'
    .control
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off", class: "input"
  .actions
    = f.submit "Update", class: "button is-info"
%h3 Cancel my account
%p
  Unhappy?
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger"
