.section
  .container.is-fullhd
    .card
      %header.card-header
        %p.card-header-title
          Edit #{resource_name.to_s.humanize}
        = link_to :back, class: 'card-header-icon' do
          %span.icon
            %i.fas.fa-times
      .card-content
        .content
          = render 'form', resource_name: resource_name, resource: resource


