%section.hero.is-primary.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-4.is-offset-4
        %h3.title.has-text-black Sign Up
        .box.has-text-left
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              = f.label :email, class: 'label'
              .control
                = f.email_field :email, placeholder: 'Your Email', autofocus: true, autocomplete: "email", class: "input is-medium"
            .field
              = f.label :nickname, class: 'label'
              .control
                = f.text_field :nickname, placeholder: 'Your Nickname', autocomplete: "nickname", class: 'input is-medium'
            .field
              = f.label :locale, class: 'label'
              .control.has-icons-left
                .select
                  = f.select :locale, options_for_select(locale_languages, @user.locale), {}, class: "input"
                .icon.is-small.is-left
                  %i.fas.fa-language
            .field
              = f.label :password, "Password", class: 'label'
              .control
                = f.password_field :password, autofocus: true, autocomplete: "off", class: "input is-medium"
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
            .field
              = f.label :password_confirmation, "Confirm password", class: 'label'
              .control
                = f.password_field :password_confirmation, autocomplete: "off", class: "input is-medium"
            = f.submit "Sign up", class: "button is-block is-info is-fullwidth"
        %p.has-text-black
          = render "devise/shared/links"
