$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$variable-columns: false;
$primary: hsla(341, 100%, 60%, 1);
@import '~bulma/bulma';

@import '~bulma-slider/dist/css/bulma-slider';
@import '~bulma-switch/dist/css/bulma-switch';
@import '~bulma-calendar/dist/css/bulma-calendar';

@import '../src/stylesheets/application';
