- if controller_name != 'sessions'
  = link_to new_session_path(resource_name) do
    Log in

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to new_registration_path(resource_name) do
    Sign up
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to new_password_path(resource_name) do
    Forgot your password?
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to new_confirmation_path(resource_name) do
    Didn't receive confirmation instructions?
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to new_unlock_path(resource_name) do
    Didn't receive unlock instructions?
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider) do
      = "Sign in with #{OmniAuth::Utils.camelize(provider)}"
