%section.hero.is-primary.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-4.is-offset-4
        %h3.title.has-text-black Forgot your password?
        .box
          = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .field
              = f.label :email, class: 'label'
              .control
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-large"
            = f.submit "Resend unlock instructions", class: "button is-block is-info is-fullwidth"
        %p.has-text-black
          = render "devise/shared/links"
