.section
  .container
    .tile.is-vertical.is-ancestor
      .tile.is-child.box.has-shadow
        %table.table
          %tbody
            %tr
              %th= "#{t('menka.statistics.avg')} #{t('menka.statistics.duration')}"
              %td= "#{@statistics.duration[:avg]} #{t('date.days')}"
            %tr
              %th= "#{t('menka.statistics.avg')} #{t('menka.statistics.interval')}"
              %td= "#{@statistics.interval[:avg]} #{t('date.days')}"
            %tr
              %th= "#{t('menka.statistics.avg')} #{t('menka.statistics.intensity')}"
              %td= t('menka.event.intensities')[@statistics.intensity[:avg]]
      .tile.is-child.box
        .columns
          .column.is-4
            = bar_chart @statistics.duration, @statistics.chart_options
          .column.is-4
            = line_chart @statistics.interval, @statistics.chart_options
          .column.is-4
            = line_chart @statistics.intensity, @statistics.chart_options

