%section.hero.is-primary.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-4.is-offset-4
        %h3.title.has-text-black Change your password
        .box
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            .field
              = f.label :password, "New password", class: 'label'
              .control
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.password_field :password, autofocus: true, autocomplete: "off", class: "input is-large"
            .field
              = f.label :password_confirmation, "Confirm new password", class: 'label'
              .control
                = f.password_field :password_confirmation, autocomplete: "off", class: "input is-large"
            = f.submit "Change my password", class: "button is-block is-info is-fullwidth"
        %p.has-text-black
          = render "devise/shared/links"
