%tr
  %td
    - if event.start_time.present?
      = event.start_time.strftime(t('time.formats.default'))
  %td
    - if event.end_time.present?
      = event.end_time.strftime(t('time.formats.default'))
  %td{colspan: 3}
    .field.is-grouped
      = link_to edit_event_path(event) do
        %span.icon
          %i.fas.fa-edit.fa-lg
      = link_to event, method: :delete, remote: true do
        %span.icon
          %i.fas.fa-trash.fa-lg
      - if event.end_time.blank?
        = link_to event_path(event, end: :today), remote: true, method: :patch do
          %span.icon
            %i.fas.fa-calendar-check.fa-lg
