= form_for event do |f|
  .field.is-horizontal
    .field-body
      .field
        = f.label :start_time, class: 'label'
        .control.has-icons-left.is-expanded
          = f.date_field :start_time, class: 'input is-large', required: true
          %span.icon.is-small.is-left
            %i.fas.fa-calendar

      .field
        = f.label :end_time, class: 'label'
        .control.has-icons-left.is-expanded
          = f.date_field :end_time, class: 'input is-large', min: f.object.start_time || Time.zone.now
          %span.icon.is-small.is-left
            %i.fas.fa-calendar
  .field
    = f.label :title, class: 'label'
    .control
      = f.text_field :title, class: 'input is-large', required: true
  .field
    .control
      = f.label :intensity, class: 'label'
      = f.range_field :intensity, in: 0..4, class: 'slider is-large is-danger has-output is-fullwidth', required: true
      %output{for: 'event_intensity'}
        = f.object.intensity || 2
  .field
    = f.check_box :analyse, class: 'switch is-info'
    = f.label :analyse
  .field
    = f.label :description, class: 'label'
    .control
      = f.text_area :description, class: 'textarea'
  .field
    .control
      = f.submit "Submit", class: 'button is-primary is-fullwidth'

