.section
  .container
    .tile.is-ancestor
      .tile.is-vertical
        - if @events.size > 0
          .tile.is-parent.is-vertical
            %p.tile.is-child.notification.is-grey-light
              - if @last_event.end_time
                = "#{days_diff Time.zone.now, @last_event.end_time} days since last event"
              - else
                = "#{days_diff Time.zone.now, @last_event.start_time} days since beginning"
        .tile.is-parent
          .tile.is-12.is-child.box.has-shadow
            = link_to new_event_path, class: "button is-fullwidth" do
              %span.icon
                %i.fas.fa-lg.fa-calendar-plus
              %span
                = t('menka.event.new')
            %hr.divider
            = month_calendar events: @events  do |date, events|
              = link_to new_event_path({start_time: date}), type: 'button', class: "button date-item #{"is-today" if Time.zone.now.to_date == date}" do
                = date.day
      .tile.is-parent
        .tile.is-child.box.has-shadow
          %table.table.is-fullwidth
            %thead
              %tr
                %th{colspan: 3}
                  Overview
            %tbody
              = render @events
