.section
  .container.is-fullhd
    .card
      %header.card-header
        %p.card-header-title
          = t('menka.strings.new')
        = link_to :back, class: 'card-header-icon' do
          %span.icon
            %i.fas.fa-times
      .card-content
        .content
          = render 'form', event: @event


