// make is-large smaler
.bulma-datepicker {
  &.is-large {
    max-width: 100%;
    .datepicker-body .datepicker-date {
      border-bottom: .1rem solid #f5f5f5;
      border-right: .1rem solid #f5f5f5;
      display: flex;
      flex-direction: column;
      height: 5rem;
      padding: 0;
      &:nth-child(7n) {
        border-right: 0;
      }
      &:nth-last-child(-n+7) {
        border-bottom: 0;
      }
    }
  }
}
