.bulma-datepicker.is-large.is-active.is-primary
  .bulma-datepicker-container
    .datepicker
      .datepicker-nav
        = link_to calendar.url_for_previous_view, class: "datepicker-nav-previous" do
          %span.icon
            %i.fas.fa-arrow-left.fa-lg
          = t('simple_calendar.previous', default: 'Previous')
        .datepicker-nav-month-year
          .datepicker-nav-month
            = t('date.month_names')[start_date.month]
           
          .datepicker-nav-year
            = start_date.year
        = link_to calendar.url_for_next_view, class: "datepicker-nav-next" do
          = t('simple_calendar.next', default: 'Next')
          %span.icon
            %i.fas.fa-arrow-right.fa-lg
    .datepicker-body
      .datepicker-dates.is-active
        .datepicker-weekdays
          - date_range.slice(0, 7).each do |day|
            .datepicker-date
              = t('date.abbr_day_names')[day.wday]
        .datepicker-days
          - date_range.each_slice(7) do |week|
            - week.each do |day|
              = content_tag :div, class: calendar.bulma_classes_for(day) do
                - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block)
                  = capture_haml(day, sorted_events.fetch(day, []), &block)
                - else
                  = block.call day, sorted_events.fetch(day, [])
