%section.hero.is-primary.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-4.is-offset-4
        %h3.title.has-text-black Login
        %p.subtitle.has-text-black Please login to proceed.
        .box
          %figure.avatar
            = image_pack_tag 'images/128x128.png'
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              .control
                = f.email_field :email, placeholder: 'Your Email', autofocus: true, autocomplete: "email", class: "input is-large"
            .field
              .control
                = f.password_field :password, placeholder: 'Your Password', autocomplete: "off", class: "input is-large"
            - if devise_mapping.rememberable?
              .field
                .control
                  = f.check_box :remember_me, class: 'checkbox'
                  = f.label :remember_me, class: 'checkbox'
            = f.submit "Login", class: "button is-block is-info is-large is-fullwidth"
        %p.buttons.has-text-centered
          = render "devise/shared/links"
