%nav.navbar.is-fixed-top.is-dark{"aria-label" => "main navigation", :role => "navigation"}
  .container.is-fluid
    .navbar-brand
      = link_to root_path, class: 'navbar-item' do
        %span.icon
          %i.fas.fa-heart
        %span
          = t('menka.app_title')
      %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarMain", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
    #navbarMain.navbar-menu
      .navbar-start
        = link_to events_path, class: 'navbar-item' do
          = t('menka.nav.events')
        = link_to statistics_path, class: 'navbar-item' do
          = t('menka.nav.statistics')
      .navbar-end
        .navbar-item.has-dropdown.is-hoverable
          %a.navbar-link
            = current_user.nickname
          .navbar-dropdown.is-right
            = link_to t('menka.profile'),  edit_user_registration_path, class: "navbar-item"
            %hr.navbar-divider/
            = link_to t('menka.sign_out'),  destroy_user_session_path, method: :delete, class: "navbar-item"
