!!!
%html.has-background-grey-light{class: "#{'has-navbar-fixed-top' if user_signed_in?}"}
  %head
    %meta{content: 'IE=edge, chrome=1', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %title
      = t('menka.app_title')
    = csrf_meta_tags
    = stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload', media: 'all'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      = render 'layouts/navigation'
    = yield
